
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.idea/
*.iml
